*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    
}


/*                      ---------------         Header Element          --------            */


nav {
    display: flex;
    justify-content: space-around;
    margin: 0;
    background-color: rgba(231, 12, 12, 0.877);
    position: fixed;
    z-index: 500;
    width: 100vw;
    height: 50px;
    box-shadow:  
    /* -- right-round shadow faded  -- */
    0px 0.5px 6px  rgba(73, 72, 72, 0.822),
    /* -- bottom clear shadow --*/
    /* -- top left inset --*/
    inset 1.5px 0.5px 8px  rgba(141, 4, 4, 0.692),
    /*-- bottom right inset --*/
    inset -1.5px -1px 8px rgba(143, 6, 6, 0.76);
    overflow-y: hidden;
    
}
   

.image{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-attachment: center;
    height: 10vw;
    background-color: white;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    
}

nav a img{
    margin-top: -10%;
    margin-bottom: -10%;
    padding-left: 10vw;
    padding-right: 10vw;
    width: 15vw;
    height: 110%;
    
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
    width: 20vw;
    margin-left: 10px;
   
    
}

nav ul li{
    
    height: 100%;
    padding-left: 10px;
    list-style: none;
    font-size: 1.2vw;
    font-family: sans-serif;
    letter-spacing: 1px;
    overflow-y: hidden;
    
}
.active{
    background-color: rgb(255, 255, 255);
     color: rgb(219, 13, 13);
     text-decoration: underline 2px;
     text-underline-offset: 5px;
    
     box-shadow:  
     inset 0.5px 1.5px 6px rgba(170, 169, 169, 0.87),
     inset -0.5px -1.5px 5px rgba(167, 165, 165, 0.863);
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    
    
}
 nav ul li a:hover{
     background-color: rgb(255, 255, 255);
     color: rgb(219, 13, 13);
     text-decoration: underline 2px;
     text-underline-offset: 5px;
    
     box-shadow:  
     inset 0.5px 1.5px 6px rgba(170, 169, 169, 0.87),
     inset -0.5px -1.5px 5px rgba(167, 165, 165, 0.863);
                
 }

@keyframes move{
    from {margin-left: -23%;}
    to {margin-left: 23%;}
}
.box{
    display: flex;
    align-items: flex-start;
    justify-content:flex-end;
    margin-top: -50px;
    margin-right: -255px;
    
}
.load{
    position: relative;
    height: 45vh;
    width: 55vw;
    background-color: rgba(255, 253, 253, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    overflow-y: hidden;
   
}
.car{
    background-image: url(./bakkie2.jpg);
    width: 100vw;
    height: 120vh;
    background-position-x: -200px;
    background-size: contain no-repeat;  
    overflow-y: hidden;
    overflow-x: hidden;
    
    
}
.main{
    display: flex;
    justify-content: center;
    height: 20vh;
}
.uni   {
    
    text-align: center;
    display: grid;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    margin-top: 100px;
    margin-left: 220px;
    z-index: 200;
    height: 40vh;
    width: 40vw;
    background-color: rgba(250, 235, 215, 0.158);
    overflow-y: hidden;

    
}
.uni h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    letter-spacing: 1.5px;
    overflow-y: hidden;
}
.uni img{
    margin-left: 10vw;
}
div .words{
    box-sizing: content-box;
    overflow-y: hidden;
    height: 45%;
    margin-top: 40px;
    line-height: 6em;
}
.uni span{
    display: block;
    animation: spin_words 5s infinite;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
   
    color: rgb(253, 236, 2);
    
   
}

@keyframes spin_words {
    10% {
        transform: translateY(-115%);
    }
    25% {
        transform: translateY(-110%);
    }
    50% {
        transform: translateY(-215%);
    }
    65% {
        transform: translateY(-210%);
    }
    85% {
        transform: translateY(-315%);
    }
    100% {
        transform: translateY(-310%);
    }
  
   
    
}
.logo{
    width: 100%;
    height: 100%;
    margin-bottom: -1%;
    position: relative;
    z-index: 9;
    
    
}
.bakkie{
    margin-top: 100vh;
    position: relative;
    width: 100%;
    height: 80vh;
}
.rectangle{
    background-color: rgb(255, 0, 0);
    height: 30%;
    width: 20px;
    margin-left: 50%;
    animation-name: move;
    animation-duration: 3.6s;
    animation-iteration-count: infinite;
    position: absolute;
    border-radius: 50%;
    margin-top: 42px;
}
.rectangle2{
    background-color: rgb(255, 0, 0);
    align-self: center;
    height:15%;
    width: 15px;
    margin-left: 50%;
    animation-name: move;
    animation-duration: 3.0s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    position: absolute;
    border-radius: 50%;
}
.rectangle3{
    background-color: rgb(255, 0, 0);
    align-self: flex-end;
    height: 40%;
    width: 18px;
    margin-left: 50%;
    animation-name: move;
    animation-duration: 2.6s;
    animation-iteration-count: infinite;
    position: absolute;
    border-radius: 50%;
}
.slogan{
    
    align-self: center;
    height: 150px;
}
.slogan img{
    width: 100%;
    height: 60%
}

@media screen and (max-width: 960px){
    
   .box{
       display: none;
   }
  .uni{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
  }
   
}

@media screen and (max-width: 400px){
   
    
    .load{
       
        width: 100vw;
    }
    .logo{
        width:250vw;
    }
}
